
body {
    font-family: Arial, sans-serif;
    background-color: rgb(4, 4, 4); /* Set the background color of the page */
    color: rgb(225, 166, 17); /* Set the color of text */
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 80px;
    color: rgb(225, 166, 17); /* Set the color of heading text */
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(4, 4, 4);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(225, 166, 17); /* Set the background color of submit button */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d49b00; /* Change the background color on hover */
}

footer {
    background-color: rgb(4, 4, 4); /* Set the background color of the footer */
    color: #fff; /* Set the color of text in the footer */
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    color: rgb(225, 166, 17); /* Set the color of social media icons */
    margin: 0 10px;
    font-size: 24px;
}
.fab {
    color: rgb(225, 166, 17); /* Set the color of social media icons */
    margin: 0 10px;
    font-size: 24px;
}
.logo img {
    max-width: 100px;
    height: auto;
}